.container {
  background-color: hsl(217, 54%, 11%);
}

#textcontainer {
  color: hsl(178, 100%, 50%);
  font-family: outfit;
  margin: 5px;
  padding-left: 5px;
}

div {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 270px;
  background-color: hsl(216, 50%, 16%);
  border-radius: 10px;
  padding: 10px;
}
span {
  color: hsl(215, 32%, 27%);
}

#newtextcontainer {
  position: absolute;
  left: 35px;
  color: hsl(178, 100%, 50%);
}

#linestyle {
  border: 0.5px solid rgb(61, 101, 134);
  color: transparent;
  width: 245px;
  border-radius: 80%;
}

#eyestyle {
  filter: invert(1);
  position: absolute;
  left: 35%;
  top: 25%;
  width: 80px;
  height: 80px;
}

.center {
  padding: 10px;
  border-radius: 20px;
  filter: opacity(0.5) drop-shadow(0 0 0 rgb(148, 235, 230));
}
#imagestyle {
  position: absolute;s
}

#clockiconstyle {
  position: absolute;
  right: 100px;
}

.creatorstylenew {
  font-family: outfit;
  color: rgb(61, 101, 134);
  display: inline;
  position: absolute;

  bottom: 10px;
  left: 60px;
}

.creatorstyle {
  color: hsl(178, 100%, 50%);
  display: inline;
  position: relative;
  left: 5px;
  text-decoration: none;
  font-size: 15px;
}

#avatarstyle {
  border: 2px solid rgb(61, 101, 134);
  border-radius: 90%;
  width: 40px;
  height: 40px;
}
